*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* QR main CSS */
.qr-controll-wrapper{
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	margin-top: 200px;
}

.cancel-btn{
	border: none;
	background: none;
	text-decoration: none;
	color: #b00020;
}